<mat-card class="card-contact">
  <div fxLayout="column" ng-submit="onSave()">
    <mat-form-field>
      <input matInput placeholder="Name" type="text"  [formControl]="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last name" type="text" [formControl]="lastname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone" placeholder="Phone number: 999-999-9999" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" [formControl]="phone">
    </mat-form-field>


    <ng-template [ngIf]="isEditing" [ngIfElse]="noEditing">
	  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    	<button mat-raised-button (click)="onCancel()" >Cancel</button>
    	<button mat-raised-button (click)="onSave()" color="primary">Save</button>
	</div>
	</ng-template>

	<ng-template #noEditing>
	  <div fxLayout="row" fxLayoutAlign="space-evenly center">
	  	<button mat-mini-fab (click)="onDelete()">
			<mat-icon>delete</mat-icon>
		</button>
    	<button mat-mini-fab (click)="onEdit()" color="primary">
			<mat-icon>edit</mat-icon>
		</button>
	</div>
	</ng-template>
    
  </div>
</mat-card>