<mat-toolbar color="primary">
 <div>
   <a>
      Angular Dev Test
   </a>
 </div>
 <div fxFlex fxLayout fxLayoutAlign="flex-end"  class="navigation-item ">
    <a (click)="onClear()">
      <mat-icon class="icon">delete</mat-icon>
      <span class="label">Clear data</span>
    </a>
 </div>
</mat-toolbar>

<app-contact-manager></app-contact-manager>