
a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-item {
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 10px;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin-left: 30;
  width: 85%;
}
