
<div class="button-container" fxLayout="row" fxLayoutAlign="start center" >
	<H3>Contacts</H3>
	<button mat-mini-fab (click)="addContact()" class="button-add">
		<mat-icon>add</mat-icon>
	</button>
</div>


<div fxLayout="row wrap" fxFlex.md="100" fxLayoutWrap class="card-container">
	<div *ngFor="let contact of contacts">
		<app-contact-detail
			[contact]="contact"> 
    	</app-contact-detail>
	</div>
</div> 

