.card-container {
  width: 100%;
  position: relative;
  border-radius: 0px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}

.button-container{
	margin-top: 20px;
	margin-left: 20px;
}

.button-add{
	margin-left: 10px;
}
